.sivjs-wrapper {
    position: relative;
    width: 100%;
}

.sivjs {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siv-prev, .siv-next {
    position: absolute;
    top: 50%;
}
.siv-prev {
    left: 20px;
}
.siv-next {
    right: 20px;
}

.siv {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.siv-active {
    display: inline-block;
}

.siv-hidden {
    display: none;
}
